* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Times New Roman", Times, serif;
}
/* estilos del sitio */

html {
  background-color: rgb(255, 252, 242);
}
header,
section,
footer {
  max-width: 100%;
  text-align: center;
}
header h1 {
  padding: 0.5em 0 0.2em 0;
}
header {
  padding-bottom: 2em;
  background-color: #fbe0b4;
  background-image: url(https://i.pinimg.com/736x/16/bb/91/16bb91697ab09fd28763c8d1f5af067d.jpg);
  background-position: 50% 50%;
}
.img_fondo {
  position: absolute;
  opacity: 0.5;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0em;
  padding: 5px 0px;
  background: #212121;
  text-align: center;
  color: #fff;
  width: 100%;
  margin-top: 2em;
}

a {
  color: #212121;
  font-weight: bold;
  text-decoration: none;
}
nav {
  max-width: 100%;
  position: relative;
  top: 0em;
  text-align: center;
  width: 100%;
}

nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
}

nav a {
  background: #fff;
  border: 0 0.1em solid;
  border-radius: 0.25em;
  padding: 0.1em 0.35em;
  display: block;
  font-family: "Times New Roman", Times, serif;

  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border: ridge 0.15em;
}

nav a:hover {
  background: #212121;
  border-radius: 0 0.5em 0 0.5em;
  color: #fff;
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: none;
  padding: 0.1em 0.35em;
}

.form_cont {
  position: absolute;
  left: 2.5em;
  display: block;
  border: solid;
  border-radius: 1em 0;
  max-width: 40%;
  margin-top: 3.8em;
  padding: 1em;
}

.form_cont fieldset,
figure {
  text-align: center;
  margin: 1em 0em;
}

div.div_button {
  text-align: center;
  margin-bottom: 0.5em;
}

div h2 {
  margin: 1em 0;
  text-align: center;
}
.div_h1 {
  padding: 0.5em 0;
}
.div_comen {
  position: absolute;
  right: 15%;
  text-align: justify;
  border: solid;
  text-align: center;
  margin-top: 3.8em;
  width: 50%;
}
.a_nav_inicio {
  background: #212121;
  border-radius: 0 0.5em 0 0.5em;
  color: #fff;
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: none;
  padding: 0.1em 0.35em;
}
