* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Times New Roman", Times, serif;
}
/* estilos del sitio */

html {
  background-color: rgb(255, 252, 242);
}
header,
section,
footer {
  max-width: 100%;
  text-align: center;
}
header h1 {
  margin: 0.5em 0 0.2em 0;
}
header {
  margin-bottom: 3em;
}

footer {
  position: fixed;
  bottom: 0em;
  padding: 5px 0px;
  background: burlywood;
  text-align: center;
  color: #fff;
  width: 100%;
  margin-top: 2em;
}

a {
  color: #212121;
  font-weight: bold;
  text-decoration: none;
}
nav {
  max-width: 100%;
  position: relative;
  top: 0em;
  text-align: center;
  width: 100%;
}

nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
}

nav a {
  background: #fff;
  border: 0 0.1em solid;
  border-radius: 0.25em;
  padding: 0.1em 0.35em;
  display: block;
  font-family: "Pecita", Helvetica, Verdana;

  -ms-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border: ridge 0.15em;
}

nav a:hover {
  background: #212121;
  border-radius: 0 0.5em 0 0.5em;
  color: #fff;
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: none;
  padding: 0.1em 0.35em;
}

.auth_01 {
  position: absolute;
  left: 2.5em;
  display: block;
  border: ridge;
  border-radius: 1em 0;
  max-width: 40%;
}

.auth_01 fieldset,
figure {
  text-align: center;
  margin: 1em 0em;
}

div.div_button {
  text-align: center;
  margin-bottom: 0.5em;
}

div h2 {
  margin-top: 1em;
  text-align: center;
}
.div_comen {
  position: relative;
  left: 14.5em;
  bottom: 0%;
  text-align: justify;
  max-width: 69%;
}
.a_nav_inicio {
  background: #212121;
  border-radius: 0 0.5em 0 0.5em;
  color: #fff;
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border: none;
  padding: 0.1em 0.35em;
}

#mensajes {
  display: block;
  border: 0.1em;
}
